# Keep grav folders
# Grav Specific
www/bin
www/cache/*
www/logs/*
www/.sass-cache
www/composer.lock
www/assets/*
www/logs/*
www/images/*

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

nbproject

# Keep some files:	
!/**/.gitkeep

www/CHANGELOG.md
www/CODE_OF_CONDUCT.md
www/CONTRIBUTING.md
www/LICENSE.txt
www/README.md
www/bin/*
www/webserver-configs/*
.vscode/