<div class="searchboxmod">
    <form method="get">
    <label for="search-by"><i class="fa fa-search"></i></label>
    <input id="search-by" type="text" placeholder="{{ 'THEME_LEARN2_SEARCH_DOCUMENTATION'|t }}"/>
    <span data-search-clear><i class="fa fa-close"></i></span>
    <form>
</div>
